# Analysing Data On Cattle And Buffaloes in India

This project is an attempt to analyse data on milk production, cow and buffalo slaughter and beef exports in India. The aim is to provide context on the dairy and beef industry in India and highlight the socio-economic factors assocciated with the industry

In [1]:
import pandas as pd

For this analysis, multiple data sources and datasets would be used. To begin with, we will look at the data on cattle and buffaloes and analyse the proportion of animals used in milk production to the total female animals and rest of the animals

In [2]:
df_cattle=pd.read_csv("Cattle Data.csv")

In [3]:
df_buffalo=pd.read_csv("Buffaloes Data.csv")

First, I want to add a total row for both the datasets for national level data

In [4]:
df_cattle=df_cattle.pivot_table(index='state_name',
               margins=True,
               margins_name='total',
               aggfunc=sum)

In [5]:
df_buffalo=df_buffalo.pivot_table(index='state_name',
               margins=True,
               margins_name='total',
               aggfunc=sum)

As per the Department of Animal Husbandry and Dairying, in_milk animals are animals in milk production and dry animals are calved animals but not presently in milk production. Adding new columns for in_milk+dry animals to calculate total number of animals in the dairy industry.

In [6]:
df_cattle['milk_ind']=df_cattle['in_milk']+df_cattle['dry']

In [7]:
df_buffalo['milk_ind']=df_buffalo['in_milk']+df_buffalo['dry']

Creating aggregated data by state and saving that into new csvs for making visualisations

In [8]:
df_c=df_cattle.groupby(by='state_name').sum()

In [9]:
df_b=df_buffalo.groupby(by='state_name').sum()

In [10]:
df_c.to_csv("Cattle.csv")

In [11]:
df_b.to_csv("Buffalo.csv")

For the next part of analysis, we would look at data on beef exports from India, particularly examining the data at the state level.

In [12]:
df_exports=pd.read_csv("Beef Exports_Port wise data.csv")

First, cleaning this sheet and merging duplicate names of states

In [13]:
df_exports.state= df_exports.state.replace({
    'HARYANA': 'Haryana',
    'UTTAR PRADESH': 'Uttar Pradesh',
    'UNSPECIFIED': 'Unspecified'
})

In [14]:
pd.crosstab(df_exports.state, df_exports.year, values=df_exports.qty,aggfunc=sum)

year,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2010-12,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20,2020-21,2021-22
state,,,,,,,,,,,,,,,,,,
Andhra Pradesh,0.0,0.0,80700.0,0.0,202420.0,0.0,NaN,794722.0,794722.0,663180.0,3445880.0,7585921.0,15262598.0,23619737.0,32030474.0,26369396.0,16456750.0,10427008.0
Bihar,0.0,0.0,4375.0,116325.0,12070.0,0.0,0.0,1280.0,1280.0,10205.0,375.0,0.0,2300.0,13168.0,100995.0,137140.0,100190.0,212090.0
Delhi,430292.0,80000.0,365380.0,29312.0,26165.0,8600.0,NaN,18301.0,18301.0,4691567.0,9265405.0,9021756.0,9065061.0,8700846.0,7465158.0,6777171.0,5209744.0,6492933.0
Gujarat,0.0,0.0,10000.0,0.0,0.0,0.0,105480.0,0.0,0.0,0.0,27000.0,0.0,0.0,0.0,0.0,0.0,500.0,17505.0
Haryana,0.0,0.0,0.0,429000.0,57760434.0,0.0,54697459.0,64394356.0,64394356.0,109750558.0,129756474.0,114959502.0,160841167.0,165139868.0,129044080.0,106124276.0,106786862.0,100147809.0
Karnataka,0.0,0.0,0.0,0.0,320.0,NaN,3930.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Kerala,0.0,400.0,1374989.0,1219401.0,847491.0,76000.0,9740.0,3542.0,3542.0,2112081.0,0.0,0.0,2119050.0,638000.0,0.0,0.0,0.0,360.0
Maharashtra,596543.0,231262.0,475668008.0,443641113.0,428054420.0,481824753.0,0.0,635888730.0,635888730.0,619921601.0,709754160.0,529674250.0,559399426.0,413784489.0,341311590.0,342653724.0,306977996.0,378682127.0
Manipur,22072.0,8400.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Punjab,0.0,0.0,4926624.0,11963142.0,1796977.0,NaN,267744.0,568813.0,568813.0,167262.0,255908.0,154000.0,430004.0,7846018.0,6978040.0,591000.0,0.0,0.0
Rajasthan,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,173000.0,1724000.0,658430.0
Tamil Nadu,34332.0,1015.0,685348.0,2427678.0,3013044.0,2600346.0,0.0,5124555.0,5124555.0,8655545.0,14700751.0,81881437.0,71657351.0,69188754.0,96667804.0,76780590.0,42431946.0,25442990.0
Telangana,0.0,0.0,9000.0,87230.0,173546.0,391752.0,18426.0,757008.0,757008.0,84000.0,0.0,3388000.0,88974.0,422400.0,196000.0,800.0,800.0,57000.0
Unspecified,459937626.0,494111476.0,0.0,0.0,0.0,NaN,551614.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Uttar Pradesh,0.0,20.0,7100.0,9195.0,30080.0,180620394.0,5539215.0,280158883.0,280158883.0,362582235.0,608960831.0,566018727.0,504696602.0,661058210.0,622640257.0,592548065.0,603889653.0,647247959.0
Uttarakhand,NaN,NaN,NaN,NaN,NaN,NaN,0.0,470.0,470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
West Bengal,7000.0,103855.0,1363028.0,3791297.0,755235.0,2500.0,100.0,3800.0,3800.0,24120.0,143000.0,1850000.0,13580.0,151995.0,204000.0,392144.0,2041488.0,5806808.0

Saving this crosstab as a sheet for making a visualisation

In [15]:
df_states=pd.crosstab(df_exports.state, df_exports.year, values=df_exports.qty,aggfunc=sum)

In [16]:
df_states.to_csv("Exports_By_State.csv")